<!--Update our Database-->

<form method="post" action="/update">
    <p>Tell us your name! Or something: </p>
    <input type="text" name="ejsFormName" value=" <%=myName %> "> 
    <input type="submit">
  </form>