<!--Update our Database-->

<!--<form method="get" action="/create">
    <p>Create</p>
    <input type="text" name="ejsFormName" value="something"> 
    <input type="submit">
  </form>
-->

  <h2>Add New Food to Database</h2>

  <form method="post" action="/addFood">
    <label for="Name">Food</label><br>
    <input name="Name"><br>
    <label for="Calories">Calories</label><br>
    <input name="Calories"><br> 
    <br>
    <input type="submit" value="add new food">
</form>

  <form method="get" action="/delete">
    <h2>Delete From Database</h2>
    <input type="text" name="ejsDelete" value="Delete"> 
    <input type="submit">
  </form>

  <form method="get" action="/update">
    <h2>Update the Database</h2>
    <input type="text" name="ejsUpdate" value="Update"> 
    <input type="submit">
  </form>


